@define-mixin rosalind-button $type, $state: default {
	color: var(--ros-component-button-color-$(type)-$(state)-foreground-color);
	background-color: var(--ros-component-button-color-$(type)-$(state)-background-color);
	border-width: var(--ros-component-button-border-width-$(type)-$(state));
	border-radius: var(--ros-component-button-border-radius-$(type));
	border-color: var(--ros-component-button-color-$(type)-$(state)-border-color);
	margin: calc(var(--ros-component-button-border-width-$(type)-$(state)) * -1);
}

.button-container {
	display: block;
	margin-right: 10px;

	@media (--ros-screen-md) {
		display: inline-block;
		vertical-align: top;
	}
}

.button {
	display: flex;
	justify-content: center;
	font-family: Nunito, sans-serif;
	font-size: var(--ros-component-button-font-size-label);
	padding: var(--ros-component-button-spacing-padding-y) var(--ros-component-button-spacing-padding-x);
	font-weight: 700;
	border-style: solid;
	align-items: center;
	gap: var(--ros-component-button-spacing-gap);
	font-style: initial;
	user-select: none;
	transition-property: color, background-color, border-color, fill, stroke, opacity;
	transition-duration: 0.2s;
}

/* TODO: Support small and large buttons */
/* .button.large {
	font-size: var(--ros-font-size-button-lg);
	padding: var(--ros-spacing-button-lg-vertical-padding) var(--ros-spacing-button-lg-horizontal-padding);
}

.button.small {
	font-size: var(--ros-font-size-button-sm);
	padding: var(--ros-spacing-button-sm-vertical-padding) var(--ros-spacing-button-sm-horizontal-padding);
} */

.button .icon,
.button .icon svg {
	width: var(--ros-semantic-size-icon-md-width);
	height: var(--ros-semantic-size-icon-md-height);
}

.button.primary {
	@mixin rosalind-button primary, default;
}

.button.primary:hover {
	@mixin rosalind-button primary, hover;
}

.button.primary:focus {
	@mixin rosalind-button primary, default;
}

.button.primary:focus-visible {
	@mixin rosalind-button primary, key-focus;
}

.button.primary:active {
	@mixin rosalind-button primary, down;
}

.button.primary.disabled {
	@mixin rosalind-button primary, disabled;
}

.button.secondary {
	@mixin rosalind-button secondary, default;
}

.button.secondary:hover {
	@mixin rosalind-button secondary, hover;
}

.button.secondary:focus {
	@mixin rosalind-button secondary, default;
}

.button.secondary:focus-visible {
	@mixin rosalind-button secondary, key-focus;
}

.button.secondary:active {
	@mixin rosalind-button secondary, down;
}

.button.secondary.disabled {
	@mixin rosalind-button secondary, disabled;
}

.button.quiet {
	@mixin rosalind-button quiet, default;
}

.button.quiet:hover {
	@mixin rosalind-button quiet, hover;
}

.button.quiet:focus {
	@mixin rosalind-button quiet, default;
}

.button.quiet:focus-visible {
	@mixin rosalind-button quiet, key-focus;
}

.button.quiet:active {
	@mixin rosalind-button quiet, down;
}

.button.quiet.disabled {
	@mixin rosalind-button quiet, disabled;
}
