@define-mixin rosalind-button $type, $state: default {
	color: var(--ros-color-button-$(type)-foreground-$(state));
	background-color: var(--ros-color-button-$(type)-background-$(state));
	border-width: var(--ros-border-width-button-$(type)-$(state));
	border-radius: var(--ros-radius-button-$(type));
	border-color: var(--ros-color-button-$(type)-border-$(state));
	margin: calc(var(--ros-border-width-button-$(type)-$(state)) * -1);
}

.button-container {
	display: block;
	margin-right: 10px;

	@media (--ros-screen-md) {
		display: inline-block;
		vertical-align: top;
	}
}

.button {
	display: flex;
	justify-content: center;
	font-family: Nunito, sans-serif;
	font-size: var(--ros-font-size-button-default);
	padding: var(--ros-spacing-button-default-vertical-padding) var(--ros-spacing-button-default-horizontal-padding);
	font-weight: 700;
	border-style: solid;
	align-items: center;
	gap: var(--ros-spacing-button-default-horizontal-gap);
	font-style: initial;
	user-select: none;
	transition-property: color, background-color, border-color, fill, stroke, opacity;
	transition-duration: 0.5s;
}

.button.large {
	font-size: var(--ros-font-size-button-lg);
	padding: var(--ros-spacing-button-lg-vertical-padding) var(--ros-spacing-button-lg-horizontal-padding);
}

.button.small {
	font-size: var(--ros-font-size-button-sm);
	padding: var(--ros-spacing-button-sm-vertical-padding) var(--ros-spacing-button-sm-horizontal-padding);
}

.button.icon-only {
	padding:
		var(--ros-spacing-button-default-vertical-padding-icon-only)
		var(--ros-spacing-button-default-horizontal-padding-icon-only);
}

.button.icon-only.large {
	padding:
		var(--ros-spacing-button-lg-horizontal-padding-icon-only)
		var(--ros-spacing-button-lg-vertical-padding-icon-only);
}

.button.icon-only.small {
	padding:
		var(--ros-spacing-button-sm-horizontal-padding-icon-only)
		var(--ros-spacing-button-sm-vertical-padding-icon-only);
}

.button .icon,
.button .icon svg {
	width: 20px;
	height: 20px;
}

.button.primary {
	@mixin rosalind-button primary, default;
}

.button.primary:hover {
	@mixin rosalind-button primary, hover;
}

.button.primary:active {
	@mixin rosalind-button primary, active;
}

.button.primary:focus {
	@mixin rosalind-button primary, focus;
}

.button.primary:focus-visible {
	@mixin rosalind-button primary, focus-visible;
}

.button.primary.disabled {
	@mixin rosalind-button primary, disabled;
}

.button.secondary {
	@mixin rosalind-button secondary, default;
}

.button.secondary:hover {
	@mixin rosalind-button secondary, hover;
}

.button.secondary:active {
	@mixin rosalind-button secondary, active;
}

.button.secondary:focus {
	@mixin rosalind-button secondary, focus;
}

.button.secondary:focus-visible {
	@mixin rosalind-button secondary, focus-visible;
}

.button.secondary.disabled {
	@mixin rosalind-button secondary, disabled;
}

.button.quiet {
	@mixin rosalind-button quiet, default;
}

.button.quiet:hover {
	@mixin rosalind-button quiet, hover;
}

.button.quiet:active {
	@mixin rosalind-button quiet, active;
}

.button.quiet:focus {
	@mixin rosalind-button quiet, focus;
}

.button.quiet:focus-visible {
	@mixin rosalind-button quiet, focus-visible;
}

.button.quiet.disabled {
	@mixin rosalind-button quiet, disabled;
}
