@import "./mixins";

@custom-selector :--heading h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5;
@custom-selector :--display .display1, .display2, .display3;
@custom-selector :--eyebrow
	h1.eyebrow,
	h2.eyebrow,
	h3.eyebrow,
	h4.eyebrow,
	h5.eyebrow,
	p.eyebrow,
	.eyebrow;
@custom-selector :--subtitle
	h1.subtitle,
	h2.subtitle,
	h3.subtitle,
	h4.subtitle,
	h5.subtitle,
	h6.subtitle,
	p.subtitle,
	.subtitle;

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-400.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-400.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-700.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.display1 {
	@mixin display1;
}

.display2 {
	@mixin display2;
}

.display3 {
	@mixin display3;
}

.subtitle {
	@mixin subtitle;
}

h1,
.h1 {
	@mixin h1;
}

h2,
.h2 {
	@mixin h2;
}

h3,
.h3 {
	@mixin h3;
}

h4,
.h4 {
	@mixin h4;
}

h5,
.h5 {
	@mixin h5;
}

:--subtitle {
	@mixin subtitle;
}

:--eyebrow {
	@mixin eyebrow;
}

p {
	max-width: 75ch;
	margin-bottom: var(--ros-spacing-typography-paragraph-margin-bottom);

	& a {
		color: var(--ros-color-typography-link);

		@media (hover: hover) {
			&:hover {
				color: var(--ros-color-primary-dark);
			}
		}
	}
}

b,
strong {
	font-weight: 700;
}

.default-content-wrapper {
	& p {
		max-width: 95ch;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}

.caption {
	font-family: var(--ros-font-family-caption);
	font-size: var(--ros-font-size-caption);
	font-weight: var(--ros-font-weight-caption);
	margin-bottom: var(--ros-spacing-typography-caption-margin-bottom);
	line-height: var(--ros-line-height-caption);
}

blockquote {
	padding: 20px;
	border-left: 10px solid var(--ros-color-primary-base);
	line-height: var(--ros-line-height-body);
	color: var(--ros-color-typography-light);
	max-width: var(--hlx-paragraph-max-width);
	font-style: italic;
	margin: 1rem 3em;
	hanging-punctuation: first;
}

code {
	display: block;
	background-color: #08090a;
	padding: 24px;
	width: 100%;
	border-radius: 0.6rem;
	color: #fff;
	font-family: var(--ros-font-family-mono);
	font-size: var(--ros-font-size-source-code);
	line-height: var(--ros-line-height-source-code);
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}
