@media (--ros-screen-sm) {
	.sm-hide {
		display: none;
	}

	.sm-show {
		display: inherit;
	}
}

@media (--ros-screen-md) {
	.md-hide {
		display: none;
	}

	.md-show {
		display: inherit;
	}
}

@media (--ros-screen-lg) {
	.lg-hide {
		display: none;
	}

	.lg-show {
		display: inherit;
	}
}

@media (--ros-screen-xl) {
	.xl-hide {
		display: none;
	}

	.xl-show {
		display: inherit;
	}
}

@media (--ros-screen-xxl) {
	.xxl-hide {
		display: none;
	}

	.xxl-show {
		display: inherit;
	}
}
