
            .columns-container .columns-wrapper .columns > div {
                display: flex;
                flex-direction: column;
            }
            @media (min-width: 48rem) {
            .columns-container .columns-wrapper .columns > div {
                    display: flex;
                    align-items: center;
                    flex-direction: initial;
            }
                }
            .columns-container .columns-wrapper .columns > div > div {
                    flex: 1;
                }
            .columns-container .columns-wrapper .columns > div > div:first-of-type {
                        margin-left: 0;
                        margin-left: initial;
                    }
        .columns-container .columns-wrapper .columns img {
                width: 100%;
            }.columns-container.full-width .columns-wrapper {
            max-width: 100%;
        }.columns-container u {
        color: var(--ros-color-primary-base);
        text-decoration: none;
    }.columns-container.split-left-content .columns div div:first-of-type {
                    order: 2;
                    padding: 30px;
                }.columns-container.split-left-content .columns div div:first-of-type .button-container {
                        display: inline-block;
                    }.columns-container.split-left-content .columns div div:first-of-type u {
                        color: var(--ros-color-primary-base);
                        text-decoration: none;
                    }.columns-container.split-left-content .columns div div:nth-child(2) {
                    margin-left: 0;
                }.columns-container.split-left-content .columns div div:nth-child(2) img {
                        height: 200px;
                        -o-object-fit: cover;
                           object-fit: cover;
                    }@media (min-width: 48rem) {
                    .columns-container.split-left-content .columns div div:first-of-type {
                        order: 1;
                    }

                    .columns-container.split-left-content .columns div div:nth-child(2) {
                        height: auto;
                        height: initial;
                        order: 2;
                    }


                        .columns-container.split-left-content .columns div div:nth-child(2) img {
                            height: 100%;
                            width: 100%;
                            -o-object-fit: cover;
                               object-fit: cover;
                        }
                }

