@import url('../../styles/system/breakpoints');
@import url('../../styles/system/mixins');

@define-mixin fade {
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.5s;
}

@define-mixin nav-item-state $level, $state {
	background-color: var(--ros-pattern-header-color-nav-item-$(level)-$(state)-background-color);
	border-color: var(--ros-pattern-header-color-nav-item-$(level)-$(state)-border-color);
	color: var(--ros-pattern-header-color-nav-item-$(level)-$(state)-foreground-color);
}

@define-mixin nav-item $level {
	font-family: var(--ros-pattern-header-font-family-nav-item-$(level));
	font-size: var(--ros-pattern-header-font-size-nav-item-$(level));
	font-weight: var(--ros-pattern-header-font-weight-nav-item-$(level));
	line-height: var(--ros-pattern-header-line-height-nav-item-$(level));
	text-transform: var(--ros-pattern-header-text-case-nav-item-$(level));
	text-decoration: var(--ros-pattern-header-text-decoration-nav-item-$(level));
	letter-spacing: var(--ros-pattern-header-letter-spacing-nav-item-$(level));

	@mixin nav-item-state $level, default;
	@mixin fade;

	&:hover {
		@mixin nav-item-state $level, hover;
	}

	&:focus {
		@mixin nav-item-state $level, default;
	}

	&:active {
		@mixin nav-item-state $level, down;
	}

	&.disabled {
		@mixin nav-item-state $level, disabled;

		&:focus,
		&:focus-visible {
			outline: initial;
		}
	}

	& a {
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 0 2px var(--ros-pattern-header-color-nav-item-level-0-key-focus-border-color);
			border-radius: var(--ros-semantic-border-radius-default);
		}
	}
}

/* When nav has hero image below it */
body:has(.hero-image) {
	& header {
		& nav {
			& .nav-tools {
				& .select {
					& select {
						color: #fff;
						border-color: #fff;
					}

					&::after {
						background-color: #fff;
					}
				}
			}

			& .nav-menu {
				& li {
					background-color: var(--ros-semantic-color-transparent);

					&:hover {
						background-color: var(--ros-semantic-color-transparent);
					}
				}
			}

			@media (--ros-screen-lg) {
				& .top-level {
					color: #fff;
				}

				& .nav-brand p {
					color: #fff;
				}
			}
		}

		& .header.sticky {
			& nav {
				& .nav-tools {
					& .select {
						& select {
							color: unset;
							border-color: unset;
						}

						&::after {
							background-color: unset;
						}
					}
				}

				@media (--ros-screen-lg) {
					& .top-level {
						color: unset;
					}

					& .nav-brand p {
						color: unset;
					}
				}
			}
		}
	}
}

header {
	height: var(--ros-pattern-header-size-height);
	width: 100%;
	position: fixed;
	z-index: 1;

	/* Don't use a stickey headers on small mobile devices */
	@media (--ros-screen-xs) {
		position: absolute;
	}

	& .header {
		background-color: var(--ros-pattern-header-color-background-base);

		@mixin fade;

		&.sticky {
			background-color: var(--ros-pattern-header-color-background-base);
		}

		@media (--ros-screen-lg) {
			background-color: transparent;
		}
	}

	& nav {
		max-width: var(--ros-semantic-size-section-max-width);
		margin: 0 auto;
		display: flex;
		align-items: stretch;
		height: var(--ros-pattern-header-size-height);

		@mixin padding-right md;
		@mixin padding-lg-horizontal lg;

		/* unset any link colors */
		& a {
			color: unset;

			&:hover {
				color: unset;
			}
		}

		/* every child of the nav */
		& > div {
			display: flex;
			align-items: center;
			height: 100%;
		}

		/* hamberger icon */
		& .nav-hamburger {
			width: 60px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			& .line {
				width: 25px;
				height: 2px;
				background-color: var(--ros-theme-color-gray-900);
				display: block;
				margin: 4px auto;
				transition: all 0.3s ease-in-out;
			}

			&.active .line:nth-child(2) {
				opacity: 0;
			}

			&.active .line:nth-child(1) {
				transform: translateY(6.5px) rotate(45deg);
			}

			&.active .line:nth-child(3) {
				transform: translateY(-6.5px) rotate(-45deg);
			}

			@media (--ros-screen-lg) {
				display: none;
			}
		}

		/* brand section */
		& .nav-brand {
			font-size: 22px;
			font-weight: 700;
			line-height: 1em;
			flex-grow: 1;

			& p {
				@mixin h3;

				margin: 0;
				display: flex;
				align-items: center;
				gap: 15px;

				& .logo {
					background-size: var(--ros-pattern-header-size-logo-width) var(--ros-pattern-header-size-logo-height);
					width: var(--ros-pattern-header-size-logo-width);
					height: var(--ros-pattern-header-size-logo-height);
					background-repeat: no-repeat;
				}

				& a {
					display: var(--ros-pattern-header-logo-text-display);
				}
			}

			& img {
				height: calc(var(--ros-pattern-header-size-height) - 30px);
				width: auto;
			}

			@media (--ros-screen-lg) {
				flex-grow: 0;
			}
		}

		& .nav-tools {
			width: 212px;
			align-items: center;
			justify-content: flex-end;

			& .select {
				@mixin margin-right md;

				& select {
					min-width: 200px;
				}

				@media (--ros-screen-xs) {
					display: none;
				}
			}
		}

		/* nav menu */
		& .nav-menu {
			display: none;
			flex-direction: column;
			align-items: center;
			position: relative;

			/* Level 0 Menu */
			& > ul {
				display: flex;
				list-style: none;
				height: 100%;
				gap: 50px;
				cursor: pointer;

				/* Level 0 Menu Items */
				& > li {
					@mixin nav-item level-0;

					height: 100%;
					display: flex;
					align-items: center;
					user-select: none;

					/* Level 1 Menu - default */
					& > ul {
						margin-top: 20px;
						display: none;
						position: relative;
					}

					/* Level 1 Menu Items - hover */
					&:hover {
						position: relative;

						/* Level 1 Menu */
						& ul {
							display: flex;
							flex-direction: column;
							position: absolute;
							background-color: var(--ros-pattern-header-color-background-level-1);
							list-style: none;
							top: 40px;
							left: -32px;

							@mixin drop-shadow sm;

							& li {
								@mixin nav-item level-1;

								white-space: nowrap;
								padding: 16px 32px;
								cursor: pointer;

								&:first-of-type {
									border-top-left-radius: var(--ros-pattern-header-border-radius-level-1);
									border-top-right-radius: var(--ros-pattern-header-border-radius-level-1);
								}

								&:last-of-type {
									border-bottom-left-radius: var(--ros-pattern-header-border-radius-level-1);
									border-bottom-right-radius: var(--ros-pattern-header-border-radius-level-1);
								}
							}
						}
					}
				}
			}

			@media (--ros-screen-lg) {
				display: flex;
				flex-grow: 1;
			}
		}

		/* Mobile nav */
		&[aria-expanded='true'] .nav-menu {
			position: absolute;
			align-items: flex-start;
			background: var(--ros-semantic-color-background-base);
			display: flex;
			flex-direction: column;
			z-index: 2;
			height: calc(100vh - var(--ros-pattern-header-size-height));
			width: 100%;
			top: var(--ros-pattern-header-size-height);
			overflow: auto;

			/* Level 1 Menu Items */
			& > ul {
				flex-direction: column;
				height: unset;
				gap: 0;
				top: 10px;
				position: absolute;
				width: 100%;

				/* Level 2 Menu - default */
				& > li {
					flex-direction: column;
					align-items: flex-start;

					& > a {
						@mixin h3;
						@mixin padding-vertical lg;
						@mixin padding-left lg;

						margin-bottom: 0;
						width: 100%;

						&:hover {
							background-color: var(--ros-pattern-header-color-nav-item-level-1-hover-background-color);
							color: var(--ros-pattern-header-color-nav-item-level-1-hover-foreground-color);
							border-radius: 0;
						}
					}

					&:hover {
						& > ul > li {
							background-color: unset;
						}
					}

					&::after {
						content: '';
						background-color: var(--ros-theme-color-gray-900);
						mask-position: center;
						mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2218%22%3E%0A%20%20%3Crect%20id%3D%22Canvas%22%20fill%3D%22currentColor%22%20opacity%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%20%2F%3E%3Cpath%20class%3D%22fill%22%20d%3D%22M4%2C7.01a1%2C1%2C0%2C0%2C1%2C1.7055-.7055l3.289%2C3.286%2C3.289-3.286a1%2C1%2C0%2C0%2C1%2C1.437%2C1.3865l-.0245.0245L9.7%2C11.7075a1%2C1%2C0%2C0%2C1-1.4125%2C0L4.293%2C7.716A.9945.9945%2C0%2C0%2C1%2C4%2C7.01Z%22%20%2F%3E%0A%3C%2Fsvg%3E');
						mask-repeat: no-repeat;
						mask-size: cover;
						position: absolute;
						right: 0;
						margin-top: 15px;
						margin-right: 10px;
						height: 20px;
						width: 20px;
						transform: rotate(-90deg);
					}

					& > ul {
						top: 0;
						padding: 0;
						position: relative;
						background-color: unset;
						list-style: none;
						margin-top: 0;
						display: none;
						left: 0;

						&:hover {
							background-color: unset;
						}

						& > li {
							padding: 16px 32px;

							& > a {
								@mixin h3;

								width: 100%;
							}

							&:hover {
								background-color: var(--ros-pattern-header-color-nav-item-level-1-hover-background-color);
								color: var(--ros-pattern-header-color-nav-item-level-1-hover-foreground-color);
								border-radius: 0;
							}
						}
					}

					& > ul.open {
						display: block;
						width: 100%;
					}

					&:has(ul.open) {
						&::after {
							transform: rotate(0deg);
						}

						& > ul {
							box-shadow: unset;
						}
					}
				}
			}
		}
	}
}
