@import "../../styles/system/mixins";

.flex > div {
    @mixin auto-flex;
    @mixin gap lg;
    align-content: center;
}

.flex.logo-grid {
    & > div {
        @mixin auto-flex 200px;
    }

	& img {
		max-height: 50px;
		width: auto;
	}
}

.section:has(.logo-grid) {
    @mixin padding-vertical xl;
	border-top: 1px solid var(--ros-semantic-color-seperator-on-base);
	min-height: 98px;
}