.section.svg-grid-container {
    border-top: 1px solid var(--ros-color-form-input-border-default);
    padding: 20px 10px;
    min-height: 98px;
}

.svg-grid {
    & a {
        all: unset;
    }

    & svg {
        max-height: 50px;
        width: 100%;
    }
}