@import "../../styles/system/mixins";

.hero-2-cols {
	& > div {
		display: grid;
		text-align: center;
		gap: 20px;

		@mixin grid-cols 1;
		@mixin grid-md-cols 2;

		& > div {
			margin-bottom: 24px;

			@media (--ros-screen-lg) {
				margin-bottom: 0;
			}
		}

		@media (--ros-screen-md) {
			text-align: left;
		}
	}

	& u {
		color: var(--ros-semantic-color-primary-base);
		text-decoration: none;
	}

	& .illustration > svg {
		width: 100%;
		height: 100%;
		padding: 20px;
	}

	@media (--ros-screen-sm) {
		& .button-container {
			display: inline-block;
		}
	}
}

.hero-container:has(.hero-image) {
	margin-bottom: 88px;
	position: relative;
	padding: 0;
	margin: 0;
	max-width: 100%;
	margin-top: -92px;
	height: 391px;

	@media (--ros-screen-lg) {
		height: 483px;
	}

	& .hero-wrapper {
		max-width: 100%;
	}

	& .mask {
		position: absolute;
		width: 100%;
		bottom: 0;
		color: var(--ros-semantic-color-background-base);

		& svg {
			transform: scale(2);
			transform-origin: top center;
		}
	}
}

.hero-image {
	& .cover {
		background-color: var(--ros-pattern-modal-color-overlay);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	& .image {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -2;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	& .content {
		margin-top: 70px;
		text-align: center;
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (--ros-screen-lg) {
			margin-top: 20px;
		}

		& > p {
			margin: 0 auto;
		}

		& :--heading {
			color: #fff;
		}

		& ul {
			list-style: none;

			& li {
				display: inline-block;
			}

			& li::after {
				background-color: #fff;
				mask-position: center;
				mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20width%3D%2218%22%3E%0A%20%20%3Crect%20id%3D%22Canvas%22%20fill%3D%22currentColor%22%20opacity%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%20%2F%3E%3Cpath%20class%3D%22fill%22%20d%3D%22M4%2C7.01a1%2C1%2C0%2C0%2C1%2C1.7055-.7055l3.289%2C3.286%2C3.289-3.286a1%2C1%2C0%2C0%2C1%2C1.437%2C1.3865l-.0245.0245L9.7%2C11.7075a1%2C1%2C0%2C0%2C1-1.4125%2C0L4.293%2C7.716A.9945.9945%2C0%2C0%2C1%2C4%2C7.01Z%22%20%2F%3E%0A%3C%2Fsvg%3E");
				mask-repeat: no-repeat;
				mask-size: cover;
				position: absolute;
				right: 0;
				margin-top: 2px;
				margin-right: 10px;
				height: 20px;
				width: 20px;
				transform: rotate(-90deg);
			}
		}
	}
}
