.button {
    display: flex;
    font-size: var(--ros-font-size-button-default);
    padding: var(--ros-spacing-button-default-vertical-padding) var(--ros-spacing-button-default-horizontal-padding);
    border-style: solid;
    align-items: center;
    gap: var(--ros-spacing-button-default-horizontal-gap);
}

.button.large {
    font-size: var(--ros-font-size-button-lg);
    padding: var(--ros-spacing-button-lg-vertical-padding) var(--ros-spacing-button-lg-horizontal-padding);
}

.button.small {
    font-size: var(--ros-font-size-button-sm);
    padding: var(--ros-spacing-button-sm-vertical-padding) var(--ros-spacing-button-sm-horizontal-padding);
}

.button:has(.icon:only-child) {
    padding: var(--ros-spacing-button-default-vertical-padding-icon-only) var(--ros-spacing-button-default-horizontal-padding-icon-only);
}

.button.large:has(.icon:only-child) {
    padding: var(--ros-spacing-button-lg-horizontal-padding-icon-only) var(--ros-spacing-button-lg-vertical-padding-icon-only);
}

.button.small:has(.icon:only-child) {
    padding: var(--ros-spacing-button-sm-horizontal-padding-icon-only) var(--ros-spacing-button-sm-vertical-padding-icon-only);
}

.button .icon,
.button .icon svg {
    width: 20px;
    height: 20px;
}

.button.cta {
    color: var(--ros-color-button-cta-foreground);
    background-color: var(--ros-color-button-cta-background);
    border-width: var(--ros-border-width-button-cta-default);
    border-radius: var(--ros-radius-button-cta);
    border-color: var(--ros-color-button-cta-border);
    margin: calc(var(--ros-border-width-button-cta-default) * -1);
}

.button.cta:hover {
    color: var(--ros-color-button-cta-foreground-hover);
    background-color: var(--ros-color-button-cta-background-hover);
    border-width: var(--ros-border-width-button-cta-hover);
    border-color: var(--ros-color-button-cta-border-hover);
    margin: calc(var(--ros-border-width-button-cta-hover) * -1);
}

.button.cta:active {
    color: var(--ros-color-button-cta-forground-active);
    background-color: var(--ros-color-button-cta-background-active);
    border-width: var(--ros-border-width-button-cta-active);
    border-color: var(--ros-color-button-cta-border-active);
    margin: calc(var(--ros-border-width-button-cta-active) * -1);
}

.button.cta:focus {
    color: var(--ros-color-button-cta-forground-focus);
    background-color: var(--ros-color-button-cta-background-focus);
    border-width: var(--ros-border-width-button-cta-focus);
    border-color: var(--ros-color-button-cta-border-focus);
    margin: calc(var(--ros-border-width-button-cta-focus) * -1);
}

.button.cta.disabled {
    color: var(--ros-color-button-cta-forground-disabled);
    background-color: var(--ros-color-button-cta-background-disabled);
    border-width: var(--ros-border-width-button-cta-disabled);
    border-color: var(--ros-color-button-cta-border-disabled);
    margin: calc(var(--ros-border-width-button-cta-disabled) * -1);
    pointer-events: none;
}

.button.secondary {
    color: var(--ros-color-button-secondary-foreground);
    background-color: var(--ros-color-button-secondary-background);
    font-size: var(--ros-font-size-button-default);
    border-width: var(--ros-border-width-button-secondary-default);
    border-color: var(--ros-color-button-secondary-border);
    border-radius: var(--ros-radius-button-secondary);
    margin: calc(var(--ros-border-width-button-secondary-default) * -1);
}

.button.secondary:hover {
    color: var(--ros-color-button-secondary-foreground-hover);
    background-color: var(--ros-color-button-secondary-background-hover);
    border-width: var(--ros-border-width-button-secondary-hover);
    border-color: var(--ros-color-button-secondary-border-hover);
    margin: calc(var(--ros-border-width-button-secondary-hover) * -1);
}

.button.secondary:active {
    color: var(--ros-color-button-secondary-forground-active);
    background-color: var(--ros-color-button-secondary-background-active);
    border-width: var(--ros-border-width-button-secondary-active);
    border-color: var(--ros-color-button-secondary-border-active);
    margin: calc(var(--ros-border-width-button-secondary-active) * -1);
}

.button.secondary:focus {
    color: var(--ros-color-button-secondary-forground-focus);
    background-color: var(--ros-color-button-secondary-background-focus);
    border-width: var(--ros-border-width-button-secondary-focus);
    border-color: var(--ros-color-button-secondary-border-focus);
    margin: calc(var(--ros-border-width-button-secondary-focus) * -1);
}

.button.secondary.disabled {
    color: var(--ros-color-button-secondary-forground-disabled);
    background-color: var(--ros-color-button-secondary-background-disabled);
    border-width: var(--ros-border-width-button-secondary-disabled);
    border-color: var(--ros-color-button-secondary-border-disabled);
    margin: calc(var(--ros-border-width-button-secondary-disabled) * -1);
    pointer-events: none;
}

.button.quiet {
    color: var(--ros-color-button-quiet-foreground);
    background-color: var(--ros-color-button-quiet-background);
    font-size: var(--ros-font-size-button-default);
    border-width: var(--ros-border-width-button-quiet-default);
    border-radius: var(--ros-radius-button-quiet);
    margin: calc(var(--ros-border-width-button-quiet) * -1);
}

.button.quiet:hover {
    color: var(--ros-color-button-quiet-foreground-hover);
    background-color: var(--ros-color-button-quiet-background-hover);
    border-width: var(--ros-border-width-button-quiet-hover);
    border-color: var(--ros-color-button-quiet-border-hover);
    margin: calc(var(--ros-border-width-button-quiet-hover) * -1);
}

.button.quiet:active {
    color: var(--ros-color-button-quiet-forground-active);
    background-color: var(--ros-color-button-quiet-background-active);
    border-width: var(--ros-border-width-button-quiet-active);
    border-color: var(--ros-color-button-quiet-border-active);
    margin: calc(var(--ros-border-width-button-quiet-active) * -1);
}

.button.quiet:focus {
    color: var(--ros-color-button-quiet-forground-focus);
    background-color: var(--ros-color-button-quiet-background-focus);
    border-width: var(--ros-border-width-button-quiet-focus);
    border-color: var(--ros-color-button-quiet-border-focus);
    margin: calc(var(--ros-border-width-button-quiet-focus) * -1);
}

.button.quiet.disabled {
    color: var(--ros-color-button-quiet-forground-disabled);
    background-color: var(--ros-color-button-quiet-background-disabled);
    border-width: var(--ros-border-width-button-quiet-disabled);
    border-color: var(--ros-color-button-quiet-border-disabled);
    margin: calc(var(--ros-border-width-button-quiet-disabled) * -1);
    pointer-events: none;
}