.section {
  margin: auto;
  width: 100%;
  padding: 0 var(--ros-spacing-section-horizontal-padding);
  max-width: var(--ros-section-max-width);

  @media (--ros-screen-lg) {
    padding: 0 var(--ros-spacing-section-horizontal-padding);
  }

  &.fluid {
    max-width: var(--hlx-max-width-limit);
  }

  &.full-width {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (--ros-screen-sm) {
   padding: 64px 32px;
  }

  @media (--ros-screen-md) {
    & > div {
      max-width: var(--ros-section-max-width);
    }
  }
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}
