@import "../../styles/system/mixins";

article {
	display: grid;
	flex-direction: row;
	gap: 20px;

	@mixin grid-cols 1;
	@mixin grid-lg-cols 12;

	& .content {
		@mixin grid-col-span 1;
		@mixin grid-md-col-span 8;
		@mixin shadow-100;

		& .hero {
			@mixin padding-top xl;
			@mixin padding-horizontal xl;

			text-align: center;

			& img {
				border-radius: 8px;
			}

			& .h3 {
				@mixin padding-top xxl;

				max-width: 20ch;
			}
		}

		& :--heading {
			margin: 0 auto;
			max-width: 75ch;
		}

		& .default-content-wrapper {
			text-align: left;

			@mixin padding xl;
		}

		& .default-content-wrapper:not(:last-of-type) {
			@mixin margin-bottom sm;
			@mixin padding-bottom sm;
		}

		& .blockquote {
			text-align: left;
			margin-left: 10px;
		}
	}

	& aside {
		width: 100%;

		@mixin grid-col-span 1;
		@mixin grid-md-col-span 4;
		@mixin padding sm;

		grid-auto-rows: minmax(min-content, max-content);

		& a {
			color: var(--ros-color-ref-grey-800);
			font-weight: 700;
		}

		& > div {
			position: sticky;
			top: 80px;
		}

		& .heading {
			@mixin padding sm;

			font-weight: 700;
			color: var(--ros-color-ref-grey-800);
			border-radius: 4px;
			text-align: center;
			background-color: var(--ros-color-global-body-background-secondary);
		}

		& .social-buttons {
			list-style: none;
			display: flex;
			gap: 10px;
			justify-content: center;

			@mixin padding sm;
		}

		& .tagcloud {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			justify-content: center;

			@mixin padding sm;

			& li {
				background-color: var(--ros-color-global-body-background-secondary);
				border-radius: 6px;

				@mixin padding-vertical xxs;
				@mixin padding-horizontal sm;

				& a {
					@mixin body-font;

					font-size: 0.8rem;
				}
			}
		}
	}
}
