@import "./mixins";

/* nunito-300 - latin */
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-300.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-regular - latin */
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-regular.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-500 - latin */
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-500.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-600 - latin */
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-600.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin */
@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-700.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6;
@custom-selector :--display .display1, .display2, .display3;
@custom-selector :--eyebrow
	h1.font-eyebrow,
	h2.font-eyebrow,
	h3.font-eyebrow,
	h4.font-eyebrow,
	h5.font-eyebrow,
	p.font-eyebrow,
	.font-eyebrow;
@custom-selector :--subtitle
	h1.font-subtitle,
	h2.font-subtitle,
	h3.font-subtitle,
	h4.font-subtitle,
	h5.font-subtitle,
	h6.font-subtitle,
	p.font-subtitle,
	.font-subtitle;

:--heading {
	@mixin responsive-font --ros-size-line-height-heading-multiplier;

	font-family: var(--ros-font-family-heading);
	font-weight: var(--ros-font-weight-heading);
	margin-top: 0;
	margin-bottom: var(--ros-spacing-typography-heading-margin-bottom);
	color: var(--ros-color-typography-heading);
}

:--display {
	@mixin responsive-font --ros-size-line-height-display-multiplier;

	font-family: var(--ros-font-family-display);
	font-weight: var(--ros-font-weight-display);
	margin-bottom: var(--ros-spacing-typography-display-margin-bottom);
	color: var(--ros-color-typography-heading);
}

.display1 {
	--min: var(--ros-font-size-display-1-min);
	--val: 5vw;
	--max: var(--ros-font-size-display-1-max);
}

.display2 {
	--min: var(--ros-font-size-display-2-min);
	--val: 4vw;
	--max: var(--ros-font-size-display-2-max);
}

.display3 {
	--min: var(--ros-font-size-display-3-min);
	--val: 3vw;
	--max: var(--ros-font-size-display-3-max);
}

.subtitle {
	--min: var(--ros-font-size-subtitle-min);
	--val: 3vw;
	--max: var(--ros-font-size-subtitle-max);

	font-weight: var(--ros-font-weight-subtitle);
	margin-bottom: var(--ros-spacing-typography-subtitle-margin-bottom);
}

h1,
.h1 {
	--min: var(--ros-font-size-heading-1-min);
	--val: 5vw;
	--max: var(--ros-font-size-heading-1-max);
}

h2,
.h2 {
	--min: var(--ros-font-size-heading-2-min);
	--val: 4.5vw;
	--max: var(--ros-font-size-heading-2-max);
}

h3,
.h3 {
	--min: var(--ros-font-size-heading-3-min);
	--val: 4vw;
	--max: var(--ros-font-size-heading-3-max);
}

h4,
.h4 {
	--min: var(--ros-font-size-heading-4-min);
	--val: 3.55vw;
	--max: var(--ros-font-size-heading-4-max);
}

h5,
.h5 {
	--min: var(--ros-font-size-heading-5-min);
	--val: 5vw;
	--max: var(--ros-font-size-heading-5-max);
}

:--eyebrow {
	@mixin responsive-font --ros-size-line-height-eyebrow-multiplier;

	--min: var(--ros-font-size-eyebrow-min);
	--val: 3vw;
	--max: var(--ros-font-size-eyebrow-max);

	font-family: var(--ros-font-family-eyebrow);
	text-transform: var(--ros-text-case-eyebrow);
	font-weight: var(--ros-font-weight-eyebrow);
	margin: 0;
	color: var(--ros-color-typography-heading);
}

:--subtitle {
	@mixin responsive-font --ros-size-line-height-heading-multiplier;

	--min: var(--ros-font-size-subtitle-min);
	--val: 3.55vw;
	--max: var(--ros-font-size-subtitle-max);

	font-family: var(--ros-font-family-subtitle);
	font-weight: 300;
	margin-bottom: var(--ros-spacing-typography-subtitle-margin-bottom);
}

p {
	max-width: 75ch;
	margin-bottom: var(--ros-spacing-typography-paragraph-margin-bottom);

	& a {
		color: var(--ros-color-typography-link);

		@media (hover: hover) {
			&:hover {
				color: var(--ros-color-primary-dark);
			}
		}
	}
}

b,
strong {
	font-weight: 700;
}

.default-content-wrapper {
	& p {
		max-width: 75ch;
		margin: 0 auto;
	}
}

.caption {
	font-family: var(--ros-font-family-caption);
	font-size: var(--ros-font-size-caption);
	font-weight: var(--ros-font-weight-caption);
	margin-bottom: var(--ros-spacing-typography-caption-margin-bottom);
	line-height: var(--ros-line-height-caption);
}

blockquote {
	padding: 20px;
	border-left: 10px solid var(--ros-color-primary-base);
	line-height: var(--ros-line-height-body);
	color: var(--ros-color-typography-light);
	max-width: var(--hlx-paragraph-max-width);
	font-style: italic;
	margin: 3rem;
	margin-bottom: 15px;
	hanging-punctuation: first;
}

code {
	display: block;
	background-color: #08090a;
	padding: 24px;
	width: 100%;
	border-radius: 0.6rem;
	color: #fff;
	font-family: var(--ros-font-family-mono);
	font-size: var(--ros-font-size-source-code);
	line-height: var(--ros-line-height-source-code);
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}
