@import "./mixins";

@custom-selector :--heading h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5;
@custom-selector :--display .display1, .display2, .display3;
@custom-selector :--eyebrow
	h1.eyebrow,
	h2.eyebrow,
	h3.eyebrow,
	h4.eyebrow,
	h5.eyebrow,
	p.eyebrow,
	.eyebrow;
@custom-selector :--subtitle
	h1.subtitle,
	h2.subtitle,
	h3.subtitle,
	h4.subtitle,
	h5.subtitle,
	h6.subtitle,
	p.subtitle,
	.subtitle;

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-regular.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-regular.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-style: medium;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-500.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-500.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-style: semi-bold;
	font-weight: 600;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-600.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-600.woff") format("woff");
}

@font-face {
	font-family: Nunito;
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url("./fonts/nunito-v25-latin-700.woff2") format("woff2"),
		url("./fonts/nunito-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url("./fonts/roboto-v30-latin-regular.woff2") format("woff2"),
		url("./fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: medium;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url("./fonts/roboto-v30-latin-500.woff2") format("woff2"),
		url("./fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
	font-family: Roboto;
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url("./fonts/roboto-v30-latin-700.woff2") format("woff2"),
		url("./fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local(""),
		url("./fonts/inter-v12-latin-regular.woff2") format("woff2"),
		url("./fonts/inter-v12-latin-regular.woff") format("woff");
}

@font-face {
	font-family: Inter;
	font-style: medium;
	font-weight: 500;
	font-display: swap;
	src:
		local(""),
		url("./fonts/inter-v12-latin-500.woff2") format("woff2"),
		url("./fonts/inter-v12-latin-500.woff") format("woff");
}

@font-face {
	font-family: Inter;
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src:
		local(""),
		url("./fonts/inter-v12-latin-700.woff2") format("woff2"),
		url("./fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.display1 {
	@mixin display1;
}

.display2 {
	@mixin display2;
}

.display3 {
	@mixin display3;
}

.subtitle {
	@mixin subtitle;
}

h1,
.h1 {
	@mixin h1;
}

h2,
.h2 {
	@mixin h2;
}

h3,
.h3 {
	@mixin h3;
}

h4,
.h4 {
	@mixin h4;
}

h5,
.h5 {
	@mixin h5;
}

:--subtitle {
	@mixin subtitle;
}

:--eyebrow {
	@mixin eyebrow;
}

p {
	@mixin body-text;
	margin-bottom: var(--ros-semantic-spacing-typography-body-margin-bottom);

	& a {
		color: var(--ros-semantic-color-link-base);

		&:hover {
			color: var(--ros-semantic-color-link-hover);
		}
	}
}

b,
strong {
	font-weight: 700;
}

.default-content-wrapper {
	& p {
		max-width: 95ch;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}

.caption {
	@mixin caption;
}

blockquote,
.blockquote {
	@mixin body-text;
	padding: 20px;
	border-left: 10px solid var(--ros-semantic-color-primary-base);
	color: var(--ros-semantic-color-foreground-on-base-subtle);
	margin: 1rem 0;
	hanging-punctuation: first;
}

code, 
.code {
	@mixin source-code;

	display: block;
	background-color: #08090a;
	padding: 24px;
	width: 100%;
	border-radius: 0.6rem;
	color: #fff;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}
