.responsive-image-container {
	padding: 20px 32px;

	& .responsive-image-wrapper {
		width: 100%;
		max-width: 100%;

		& img {
			width: 100%;
			object-fit: contain;
			line-height: 0;
		}

		& .responsive-image .desktop {
			display: none;
			line-height: 0;

			@media (--ros-screen-lg) {
				display: block;
			}
		}

		& .responsive-image .mobile {
			line-height: 0;

			@media (--ros-screen-lg) {
				display: none;
			}
		}
	}
}
