@import "../../breakpoints";

header {
  height: 72px;
  width: 100%;
  position: fixed;
  z-index: 1;

  & .header {
    background-color: var(--ros-color-body-background-primary);
    
    /* nav padding on larger screens */
    @media (--ros-screen-lg) {
       margin: 0 32px;
    }
  }

  & nav {
    max-width: var(--ros-section-max-width);
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    height: 72px;
    color: var(--ros-color-ref-grey-900);

    /* unset any link colors */
    & a {
      color: unset;

      &:hover {
        color: unset;
      }
    }

    /* every child of the nav */
    & > div {
      display: flex;
      align-items: center;
      height: 100%;
    }

    /* hamberger icon */
    & .nav-hamburger {
      width: 60px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      & .line{
        width: 25px;
        height: 2.5px;
        background-color: #ecf0f1;
        display: block;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active .line:nth-child(2){
        opacity: 0;
      }

      &.active .line:nth-child(1){
        transform: translateY(6.5px) rotate(45deg);
      }

      &.active .line:nth-child(3){
        transform: translateY(-6.5px) rotate(-45deg);
      }

      @media (--ros-screen-lg) {
        display: none;
      }
    }

    /* brand section */
    & .nav-brand {
      font-size: 22px;
      font-weight: 700;
      line-height: 1em;

      & p {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 15px;
      }

      & img {
        height: calc(72px - 30px);
        width: auto;
      }
    }

    /* nav menu */
    & .nav-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: relative;

      /* Level 1 Menu */
      & > ul {
        display: flex;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
        padding-left: 50px;
        height: 100%;
        gap: 50px;
        cursor: pointer;

        /* Level 1 Menu Items */
        & > li {
          height: 100%;
          display: flex;
          align-items: center;

          /* Level 2 Menu - default */
          & > ul {
            margin-top: 20px;
            display: none;
            position: relative;
          }

          /* Level 1 Menu Items - hover */
          &:hover {
            position: relative;

            /* Level 2 Menu */
            & ul {
              display: flex;
              flex-direction: column;
              position: absolute;
              background-color: var(--highlight-background-color, #19191c);
              list-style: none;
              top: 52px;

              & li {
                white-space: nowrap;
                padding: 16px 32px;
                cursor: pointer;
                &:hover {
                  background-color: var(--ros-color-primary-base);
                }
              }
            }
          }
        }

        /* & > li[aria-expanded='true'] ul {
            display: block;
            position: absolute;
            background-color: var(--highlight-background-color, #19191c);
            width: 300px;
            left: 0;
            padding: 16px;
            box-shadow: 0 0 5px var(text-color);
          } */
      } 

      @media (--ros-screen-lg) {
        display: flex;
      }
    }

    &[aria-expanded='true'] .nav-menu {
      position: absolute;
      align-items: flex-start;
      background: #0d0d0e;
      display: flex;
      flex-direction: column;
      /* opacity: 0; */
      /* transition-duration: .3s;
      transition-property: opacity,visibility; */
      /* visibility: hidden; */
      z-index: 2;
      height: calc(100vh - 72px);
      width: 100%;
      top: 72px;
      overflow: auto;

      & > ul {
        flex-direction: column;
        height: unset;
        gap: 25px;
        padding-left: 30px;
        top: 20px;
        position: absolute;

        & > li {
          flex-direction: column;
          color: var(--ros-color-typography-lighter);
          font-size: 25px;
          text-transform: uppercase;
          align-items: flex-start;

          & > ul {
            top: 0;
            display: block;
            padding: 0;
            position: relative;
            background-color: unset;
            list-style: none;
            margin-top: 5px;

            & > li {
              padding: 10px;
              color: var(--ros-color-typography-base);
              text-transform: none;
            }
          }
        }
      }
    }
  }
}

/* header and nav layout */
/* header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height, 64px)
    'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color, #19191c);
  width: 100vw;
  height: var(--nav-height, 64px);
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger brand' 'sections sections' 'tools tools';
  grid-template-columns:  56px 1fr;
  overflow-y: scroll;
  min-height: 100vh;
} */

/* brand */



/* hamburger */


/* sections */

/*

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
}
*/


/* tools */
/* header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
} */

/* desktop nav styles */
/* @media (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 16px 2rem;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections {
    display: unset;
  }

  header nav .nav-brand {
    flex: 0 0 150px;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }
  
  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    padding: 0 16px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding-top: 0;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }


  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid var(--highlight-background-color, #19191c);
    top: -15px;
    left: 20px;
  }


  header nav .nav-sections > ul > li > ul > li {
    font-size: 18px;
    padding: 8px 16px;
  }


} */
