@import url("../styles/system/mixins");

#root {
	& main {
		padding: 15px;

		& .section {
			padding: 0;
		}
	}
}

.button-stories {
	& h3 {
		@mixin margin-top xl;
	}
}

.button-grid {
	display: inline-grid;

	@mixin grid-cols 1;
	@mixin grid-md-cols 3;
}
