@import url('../styles/system/mixins');

@define-mixin border {
	border: 1px solid hsl(203deg 50% 30% / 20%);
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0;
}

body {
	overflow-y: auto;

	& main {
		padding-top: 0;
	}
}

code {
	width: auto;
	font-family: ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;
	margin: 0 2px;
	padding: 3px 5px;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 13px;
	border: 1px solid #ecf4f9;
	color: rgb(46 52 56 / 90%);
	background-color: #f7fafc;
	margin-right: 10px;
	cursor: pointer;
}

.story {
	@mixin border;

	padding: 20px;
	margin: 25px 0 40px;
}

.table {
	@mixin border;

	& > div {
		@mixin padding md;

		display: grid;
		grid-template-rows: auto;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		border-bottom: 1px solid hsl(203deg 50% 30% / 20%);
		border-right: 1px solid hsl(203deg 50% 30% / 20%);
		align-items: center;

		&:first-of-type {
			@mixin h3;

			margin-bottom: 0;
		}

		&:nth-child(odd):not(:first-of-type) {
			@mixin layer-1;
		}
	}

	&.token {
		& > div {
			grid-template-columns: 1fr 250px 120px;
		}
	}

	&.margin-top {
		@mixin margin-top lg;
	}

	&.margin-bottom {
		margin-bottom: 20px !important;
	}
}

.space {
	display: flex;
	flex-direction: row;

	@mixin margin-bottom lg;

	& > div:first-of-type {
		@mixin h4;

		width: 100px;
	}

	& span {
		background-color: var(--ros-semantic-color-primary-base);
		height: 20px;
		display: inline-block;
	}
}

.systemLabel {
	font-size: 14px !important;
}

.button.small {
	height: 30px;
	font-size: 14px;
}

.shadow-demo {
	& > div {
		width: 150px;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;
	}
}

.flex {
	display: flex;
	flex-direction: row;
	gap: var(--ros-semantic-spacing-gap-component-lg);
}

.grid-demo {
	& > div {
		@mixin grid-cols 12;
		@mixin gap xs;
		@mixin grid-auto-flow-row;
		@mixin grid-md-auto-flow-col;

		& > div {
			@mixin padding lg;
		}

		& .nav {
			@mixin layer-2;
			@mixin grid-col-span 12;
			@mixin grid-md-col-span 2;
			@mixin grid-md-row-span 5;
		}

		& .heading {
			@mixin layer-1;
			@mixin grid-col-span 12;
			@mixin grid-md-col-span 8;
			@mixin grid-md-row-span 2;
		}

		& .content {
			@mixin layer-1;
			@mixin grid-col-span 12;
			@mixin grid-md-col-span 8;
		}

		& .sidebar {
			@mixin layer-2;
			@mixin grid-col-span 12;
			@mixin grid-md-col-span 2;
			@mixin grid-md-row-span 5;
		}
	}
}

.grid-demo-12-column {
	& > div {
		@mixin grid-cols 12;
		@mixin gap xs;

		display: grid;

		& > div {
			@mixin layer-1;

			text-align: center;
		}
	}
}

.grid-demo-2-column {
	& > div {
		@mixin grid-cols 2;
		@mixin gap xs;

		display: grid;

		& > div {
			@mixin layer-1;

			text-align: center;
		}
	}
}

.grid-demo-span-columns {
	& > div {
		display: grid;

		@mixin grid-cols 12;
		@mixin gap xs;

		& > div {
			@mixin layer-1;

			text-align: center;

			&:nth-child(even) {
				@mixin grid-col-span 9;
			}

			&:nth-child(odd) {
				@mixin grid-col-span 3;
			}
		}
	}
}

.grid-demo-span-rows {
	& > div {
		display: grid;

		@mixin grid-cols 12;
		@mixin gap xs;

		& > div {
			@mixin layer-1;

			text-align: center;

			&:first-of-type {
				@mixin grid-row-span 3;
			}

			&:not(:first-of-type) {
				@mixin grid-col-span 11;
			}
		}
	}
}

.grid-demo-gap {
	& > div {
		display: grid;

		@mixin grid-cols 4;
		@mixin gap 2xl;

		& > div {
			@mixin layer-1;

			text-align: center;
		}
	}
}

.grid-demo-gap-x {
	& > div {
		display: grid;

		@mixin grid-cols 4;
		@mixin gap-x 2xl;

		& > div {
			@mixin layer-1;

			text-align: center;
		}
	}
}

.grid-demo-gap-y {
	& > div {
		display: grid;

		@mixin grid-cols 4;
		@mixin gap-y 2xl;

		& > div {
			@mixin layer-1;

			text-align: center;
		}
	}
}

.grid-demo-responsive {
	& > div {
		display: grid;

		@mixin grid-cols 1;
		@mixin grid-sm-cols 2;
		@mixin grid-md-cols 4;
		@mixin grid-lg-cols 8;
		@mixin gap xs;

		& > div {
			@mixin layer-1;

			text-align: center;
		}
	}
}
