@import url('../../styles/system/mixins');

.z-pattern-container {
	&.layer-1 {
		@mixin layer-1;
	}
}

.z-pattern {
	@mixin padding-vertical 2xl;

	& .row {
		& .container {
			@mixin grid-cols 1;
			@mixin grid-md-cols 2;
			@mixin gap lg;
			@mixin margin-bottom 4xl;
			@mixin margin-md-bottom 9xl;

			& .text {
				@mixin padding lg;
			}

			& .image {
				display: flex;
				align-items: center;
			}
		}

		&.media-reversed {
			& .container {
				& > div:first-of-type {
					order: 0;

					@media (--ros-screen-md) {
						order: 1;
					}
				}
			}
		}

		&.media-reverse-mobile {
			& .container {
				& > div:first-of-type {
					order: 1;

					@media (--ros-screen-md) {
						order: 0;
					}
				}
			}
		}
	}

	/* .media.media-reversed .foreground .media-row > div:first-child {
		order: 2;
	} */

	& .container {
		& .heading {
			@mixin margin-bottom 6xl;

			text-align: center;
		}
	}
}

/*
.media {
	margin: 0 auto;
	position: relative;
}

.dark .media,
.media.dark {
	color: #fff;
}

.media p,
.media [class^='body-'] { margin: var(--spacing-xs) 0; }

.media [class^='heading'] { margin: 0 0 var(--spacing-xs) 0; }

.media [class^='detail'] { margin: 0 0 var(--spacing-xxs) 0; }

.media .action-area { margin-top: var(--spacing-s); }

.media div > *:last-child { margin-bottom: 0; }

.media .background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}

.media .background picture {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.media .background img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.media > .foreground .media-row {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
	justify-content: stretch;
	margin: 0 auto;
	padding: var(--spacing-s) 0;
	position: relative;
}

.media.media-reverse-mobile .foreground .media-row {
	flex-direction: column-reverse;
}

.media > .foreground .media-row > div {
	width: 100%;
}

.media .text .action-area {
	display: flex;
	gap: var(--spacing-s);
	align-items: flex-start;
}

.media .text .icon-area {
	margin: 0 0 var(--spacing-s) 0;
	gap: var(--spacing-s);
	grid-template-columns: 1fr;
}

.media .image img {
	display: block;
	width: 100%;
}

.media[class*='-up'] .foreground {
	max-width: var(--grid-container-width);
	margin: 0 auto;
	padding: var(--spacing-s) 0;
	position: relative;
}

.media[class*='-up'] .foreground > .media-row {
	width: 100%;
	display: block;
	max-width: 100%;
	margin-bottom: var(--spacing-s);
}

div[class*='-up'] .media .foreground {
	width: auto;
}

.media[class*='-up'] .foreground > .media-row,
div[class*='-up'] .media .foreground > .media-row {
	padding: 0 0 var(--spacing-m);
}

.media[class*='-up'] .foreground > .media-row .image,
div[class*='-up'] .media .foreground > .media-row .image {
	margin-bottom: var(--spacing-s);
}

@media screen and (min-width: 600px) {
	.media > .foreground .media-row {
		gap: var(--spacing-m);
		flex-direction: row;
		max-width: 1000px;
	}

	.media.small > .foreground .media-row {
		max-width: 800px;
	}

	.media.large > .foreground .media-row {
		gap: var(--spacing-m);
		max-width: 1200px;
	}

	.media.media-reverse-mobile .foreground .media-row {
		flex-direction: row;
	}

	.media.large > .foreground .media-row .text,
	.media.large > .foreground .media-row .image {
		width: 50%;
	}

	.media[class*='-up'].large > .foreground .media-row .text,
	.media[class*='-up'].large > .foreground .media-row .image,
	div[class*='-up'] .media.large > .foreground .media-row .text,
	div[class*='-up'] .media.large > .foreground .media-row .image {
		width: 100%;
	}

	.media.media-reversed .foreground .media-row > div:first-child {
		order: 2;
	}

	.media .text .icon-area {
		grid-template-columns: 1fr 1fr;
	}

	.media[class*='-up'] .foreground > div.media-row,
	div[class*='-up'] .media .foreground > div.media-row {
		padding: 0 0 var(--spacing-s);
		display: block;
	}

	.media.two-up .foreground,
	.media.three-up .foreground,
	.media.four-up .foreground,
	.media.five-up .foreground {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: var(--spacing-m);
	}
}

@media screen and (min-width: 1200px) {
	.media > .foreground .media-row {
		gap: var(--spacing-l);
	}

	.media.small > .foreground .media-row {
		gap: var(--spacing-m);
	}

	.media.large > .foreground .media-row {
		gap: var(--spacing-xl);
		margin: 0 auto;
	}

	.media.large > .foreground .media-row .image { min-width: 700px; }

	.media[class*='-up'].large > .foreground .media-row .image,
	div[class*='-up'] .media.large > .foreground .media-row .image { min-width: 100%; }
	.media.three-up .foreground { grid-template-columns: repeat(3, 1fr); }
	.media.four-up .foreground { grid-template-columns: repeat(4, 1fr); }
	.media.five-up .foreground { grid-template-columns: repeat(5, 1fr); }
}

.z-pattern {
	@mixin padding-vertical 2xl;
}

.dark .z-pattern,
.z-pattern.dark {
	color: #fff;
}

.z-pattern .heading-row {
	text-align: center;
	margin: 0 auto;
}

.z-pattern .heading-row .headline,
.z-pattern .heading-row p {
	margin: 0 0 var(--spacing-xs);
}

.z-pattern .media > .foreground .media-row {
	padding: var(--spacing-l) 0;
}

.z-pattern .media:last-of-type > .foreground .media-row {
	padding-bottom: 0;
}

@media screen and (min-width: 600px) {
	.z-pattern .heading-row {
		max-width: 1000px;
	}

	.z-pattern.small .heading-row {
		max-width: 800px;
	}

	.z-pattern.large .heading-row {
		max-width: 1200px;
	}
} */
