.columns-container {
    & .columns-wrapper {
        & .columns {
            & > div {
                display: flex;
                flex-direction: column;

                @media (--ros-screen-md) {
                    display: flex;
                    align-items: center;
                    flex-direction: unset;
                }

                & > div {
                    flex: 1;

                    &:first-of-type {
                        margin-left: unset;
                    }
                }
            }

            & img {
                width: 100%;
            }
        }
    }
    
    &.full-width {
        & .columns-wrapper {
            max-width: 100%;
        }
    }

    & u {
        color: var(--ros-color-primary-base);
        text-decoration: none;
    }

    &.split-left-content {
        & .columns {
            & div {
                & div:first-of-type {
                    order: 2;
                    padding: 30px;

                    & .button-container {
                        display: inline-block;
                    }

                    & u {
                        color: var(--ros-color-primary-base);
                        text-decoration: none;
                    }
                }

                & div:nth-child(2) {
                    margin-left: 0;

                    & img {
                        height: 200px;
                        object-fit: cover;
                    }
                }

                @media (--ros-screen-md) {
                    & div:first-of-type {
                        order: 1;
                    }

                    & div:nth-child(2) {
                        height: unset;
                        order: 2;


                        & img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

