@define-mixin responsive-font $multiplier {
	font-size: clamp(var(--min), var(--val), var(--max));
	line-height: calc(var($multiplier) * clamp(var(--min), var(--val), var(--max)));
}

@define-mixin base-display {
	@mixin responsive-font --ros-size-line-height-display-multiplier;

	font-family: var(--ros-font-family-display);
	font-weight: var(--ros-font-weight-display);
	margin-bottom: var(--ros-spacing-typography-display-margin-bottom);
	color: var(--ros-color-typography-heading);
}

@define-mixin display1 {
	@mixin base-display;

	--min: var(--ros-font-size-display-1-min);
	--val: 5vw;
	--max: var(--ros-font-size-display-1-max);
}

@define-mixin display2 {
	@mixin base-display;

	--min: var(--ros-font-size-display-2-min);
	--val: 4vw;
	--max: var(--ros-font-size-display-2-max);
}

@define-mixin display3 {
	@mixin base-display;

	--min: var(--ros-font-size-display-3-min);
	--val: 3vw;
	--max: var(--ros-font-size-display-3-max);
}

@define-mixin base-heading {
	@mixin responsive-font --ros-size-line-height-heading-multiplier;

	font-family: var(--ros-font-family-heading);
	font-weight: var(--ros-font-weight-heading);
	margin-top: 0;
	margin-bottom: var(--ros-spacing-typography-heading-margin-bottom);
	color: var(--ros-color-typography-heading);
}

@define-mixin h1 {
	@mixin base-heading;

	--min: var(--ros-font-size-heading-1-min);
	--val: 5vw;
	--max: var(--ros-font-size-heading-1-max);
}

@define-mixin h2 {
	@mixin base-heading;

	--min: var(--ros-font-size-heading-2-min);
	--val: 4.5vw;
	--max: var(--ros-font-size-heading-2-max);
}

@define-mixin h3 {
	@mixin base-heading;

	--min: var(--ros-font-size-heading-3-min);
	--val: 4vw;
	--max: var(--ros-font-size-heading-3-max);
}

@define-mixin h4 {
	@mixin base-heading;

	--min: var(--ros-font-size-heading-4-min);
	--val: 3.55vw;
	--max: var(--ros-font-size-heading-4-max);
}

@define-mixin h5 {
	@mixin base-heading;

	--min: var(--ros-font-size-heading-5-min);
	--val: 5vw;
	--max: var(--ros-font-size-heading-5-max);
}

@define-mixin subtitle {
	@mixin responsive-font --ros-size-line-height-subtitle-multiplier;

	--min: var(--ros-font-size-subtitle-min);
	--val: 3vw;
	--max: var(--ros-font-size-subtitle-max);

	font-family: var(--ros-font-family-subtitle);
	font-weight: var(--ros-font-weight-subtitle);
	margin-bottom: var(--ros-spacing-typography-subtitle-margin-bottom);
}

@define-mixin eyebrow {
	@mixin responsive-font --ros-size-line-height-eyebrow-multiplier;

	--min: var(--ros-font-size-eyebrow-min);
	--val: 3vw;
	--max: var(--ros-font-size-eyebrow-max);

	font-family: var(--ros-font-family-eyebrow);
	text-transform: var(--ros-text-case-eyebrow);
	font-weight: var(--ros-font-weight-eyebrow);
	margin: 0;
}
