name: Build Design System

on:
  push:
    branches:
      - '**'      # matches every branch
      - '!main'   # excludes main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: npm install
    - run: node transform.mjs
    - run: npm run postcss:build
      env:
        CI: true
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        # Optional. Commit message for the created commit.
        # Defaults to "Apply automatic changes"
        commit_message: Design System Build
    - run: npm run build-storybook
    - name: Deploy Storybook
      uses: JamesIves/github-pages-deploy-action@3.6.2
      with:
        branch: gh-pages
        folder: storybook