name: Deploy Storybook

on:
  push:
    branches:
      - 'main'
    paths:
      - '.storybook/**'
      - 'styles/system/**'
      - 'tokens/**'
      - 'blocks/**'
      - 'templates/**'

jobs:
  deploy-storybook:
    needs: validate-system
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: npm install
    - run: npm run build-storybook
    - name: Deploy Storybook
      uses: JamesIves/github-pages-deploy-action@3.6.2
      with:
        branch: gh-pages
        folder: storybook