name: Storybook Tests

on:
  pull_request:
    paths:
      - '.storybook/**'
      - 'styles/system/**'
      - 'tokens/**'
      - 'blocks/**'
      - 'templates/**'

jobs:
  test:
    timeout-minutes: 6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm install
      - name: Run Storybook tests
        run: npm run test-storybook:ci