@define-mixin form-element $type, $state {
	color: var(--ros-component-$(type)-color-$(state)-foreground-color);
	border-radius: var(--ros-component-$(type)-border-radius);
	border-color: var(--ros-component-$(type)-color-$(state)-border-color);
	background-color: var(--ros-component-$(type)-color-$(state)-background-color);
}

@define-mixin base-text-field $type {
	padding: var(--ros-component-$(type)-spacing-padding-y) var(--ros-component-$(type)-spacing-padding-x);
	border-style: solid;
	font-family: inherit;
	min-width: 250px;
	font-size: var(--ros-component-text-field-font-size-text);

	@mixin form-element $type, default;

	&:hover {
		@mixin form-element $type, hover;
	}

	&:active {
		@mixin form-element $type, active;
	}

	&:focus {
		@mixin form-element $type, key-focus;
		outline: none;
		box-shadow: 0 0 0px var(--ros-component-$(type)-border-width-key-focus) var(--ros-component-$(type)-color-key-focus-border-color);
	}

	&:disabled {
		@mixin form-element disabled;
	}

	&::placeholder {
		color: var(--ros-component-text-field-color-placeholder);
	}
}

